@using BloodBorne.Model
@inject Bosses Bosses
<h3>BossItem</h3>


<div class="card h-100">
    <div class="card-body d-flex flex-column">
        <p class="card-text">@Bosses.BossDescription</p>
        </div>

        </div>






@code {

}
