@inject ListItem ListItem
@using BloodBorne.Model
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStorage


<div class="card h-100">
    <img src="/img/bosses/@Bosses.ImageUrl" class="card-img-top p-1" alt="@Bosses.Name" onerror="this.onerror = null; this.src='/img/bosses/noboss.png'">
    <div class="card-body d-flex flex-column">
        <div class="card-body d-flex flex-column">
            <p class="card-text">@Bosses.BossDescription</p>
            
        </div>

        <EditForm Model= "quantity" OnSubmit="AddToList"> 
            <button class="btn btn-outline-primary" for="btn-check-outlined">Add</button>

        </EditForm>


    </div>
</div>







@code {

    [Parameter]
    public Bosses Bosses { get; set; }

    private int quantity = 1;

    public async Task AddToList()
    {
        ListItem.AddItem(Bosses);
        await ProtectedSessionStorage.SetAsync("List", ListItem.GetItems());
        
    }

}
 