@page "/"
@using BloodBorne.Context
@inject NavigationManager NavigationManager
@using BloodBorne.Model
@using BloodBorne.Components.Shared
@inject BossesProvider BossesProvider 

<PageTitle>BloodBorne</PageTitle>

<div class="d-grid gap-2 d-md-block">
    <div class="row">
        <div class="col">
            <a @onclick="GoToList" button type="button" class="btn btn-dark btn-lg  w-100">List</a>
        </div>
    </div>
</div>

  <div class="row ">
@foreach (var bosses in FilteredBosses)
{
    <div class="col-12 col-md-6 col-lg-4">
        <BossItem Bosses ="bosses" />
    </div>
}
</div> 

@code
{
    private string searchTerm = "";
    private IEnumerable<Bosses> bosses;


    private IEnumerable<Bosses> filteredBosses;
    private IEnumerable<Bosses> FilteredBosses
    {
        get
        {
            return filteredBosses.Where(GetSearchCriteria);
        }
        set
        {
            
            filteredBosses = value;
        }
    }

    private bool GetSearchCriteria(Bosses bosses)
    {
        if (string.IsNullOrWhiteSpace(searchTerm)) return true;

        return 
        bosses.Name.Contains(searchTerm, StringComparison.OrdinalIgnoreCase);
        bosses.BossDescription.Contains(searchTerm, StringComparison.OrdinalIgnoreCase);
       
    }

    protected override async Task OnInitializedAsync()
    {
        bosses = await BossesProvider.GetAllBossesAsync();
        filteredBosses = bosses;

    }

    private void GoToList()
    {
        NavigationManager.NavigateTo("/List");
    }

}